<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>114031396260-jt7l877lk2orc580uum5jmo5v1hei77p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114031396260-jt7l877lk2orc580uum5jmo5v1hei77p</string>
	<key>API_KEY</key>
	<string>AIzaSyD3G653Ug9Khqq9EDodrf5p-J38_jVAOkI</string>
	<key>GCM_SENDER_ID</key>
	<string>114031396260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CLAOS.The-Big-Seaweed-Search</string>
	<key>PROJECT_ID</key>
	<string>seaweed-b955e</string>
	<key>STORAGE_BUCKET</key>
	<string>seaweed-b955e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:114031396260:ios:1bc645a8eb70b4fb</string>
	<key>DATABASE_URL</key>
	<string>https://seaweed-b955e.firebaseio.com</string>
</dict>
</plist>